* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.prev,
.next {
    width: 70px;
    height: 70px;
    background-color: #000;
    transform: rotate(-90deg);
    padding: 10px;
    margin: 0 15px;
    cursor: pointer;
    border-radius: 3px;
}

.image {
    width: 640px;
}

.next {
    transform: rotate(90deg);
}

.--disabled {

    background-color: #747171;
}